@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:focus {
  outline: 2px solid #FFA500;
  outline-offset: 2px;
}
@font-face {
    font-family: chunq;
    src: url(../font/Chunq.ttf);
}


* {
    margin: 0;
    padding: 0;
}

body {
    
    background-color: #FFF5DA;
}

body h1 {
    font-family: 'chunq';
    color: #4E3F2A;
}

body h2 {
    font-family: 'chunq';
    color: #4E3F2A;
}

body p {
    color: #4E3F2A;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

/* NAVEGACAO */

.dropdown {
}


.dropdown ul li {

}

.dropdown ul li a{
    font-size: 18px !important;
    text-decoration:overline;
    color: #4E3F2A !important;
}


.dropdown-menu {
    display: none !important;
    background-color: #FFF5DA;
}

.dropdown-menu li a{
    color: #757060;
}

.dropdown:hover .dropdown-menu {
  display: block !important; 
  padding: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block ; 
}

.daltonismo {
  filter: contrast(120%) saturate(80%) grayscale(30%);
}

#logo {
     justify-content: center;
    text-align: center;
    align-items: center;
}

#logo img {
    width: 20%;
}

#navegacao {
    border-bottom: 5px solid #FFD83D;
}

#navegacao nav {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #4E3F2A;
}

#navegacao nav ul {
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#navegacao nav ul a  {
    margin-right: 20px;
    font-size: 24px;

    font-family: 'chunq';
    text-transform: uppercase;
    color: #FFF5DA;
    text-decoration: none;

    transition: color 0.4s ease;
}

#navegacao nav ul a:hover {
    color: #FFD83D	;
}

#navegacao nav ul a li {
    list-style: none;
}

/* CONTEUDO */

section {
    
}

#sobre {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
}

#sobre h1 {
    letter-spacing: 5px;
    text-transform:uppercase ;
    font-size: 50px;
}

#sobre p {
    margin-top: 5%;
    line-height: 30px;
    font-size: 18px;
}

#sobre div {
    display: flex;
    flex-direction: row;
    width: 70%;
}

/* CONEXAO */

#conexao {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 110%;
    margin-top: 10%;
    color: #FFF5DA;
    background-color: #4E3F2A;
}

#conexao div {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#conexao p {
    margin-right: 10%;
    font-size: 18px;
    color: #FFF5DA;
}

#conexao h1 {
    margin-bottom: 10px;
    margin-right: 10%;
    letter-spacing: 10px;
    font-size: 40px;
    text-transform: uppercase;
    color: #FFF5DA;
}

#conexao img {
    margin-left: 10%;
    border-radius: 15px;
    width: 70%;
}

/* CULTURA */

#cultura {
    align-items: center;

    text-align: center;
    width: 100%;
    margin-top: 10%;
}

#cultura h1 {
    color: #4E3F2A;
    letter-spacing: 5px;
    text-transform:uppercase ;
    font-size: 50px;
}



#cultura p {
    color: #4E3F2A;
    margin-top: 5%;
    line-height: 30px;
    font-size: 18px;
}

#cultura div {
    width: 70%;
}

/* CULINARIA */

#culinaria {
    margin-top: 10%;
}

#culinaria h2 {
    font-size: 35px;
}

#culinaria .card-grid {
    margin-top: 7%;
}

/* MUSICA */

#musica {
    margin-top: 10%;
}

#musica h2 {
    font-size: 35px;
}

#musica .card-grid {
    margin-top: 7%;
}

#avalie {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
}

footer {
    height: 100%;
    background-color: #4E3F2A;
    
}

footer p {
    line-height: 50px;
    text-align: center;
    align-items: center;
    color: #FFF5DA;
}